{%verbatim%}
	<script id="all-results" type="x-tmpl-mustache">
<div id="pic">

        <br>
        <h4>Posts</h4>

        {{#posts}}

    <div class="row">
        <div class="col s12 m9">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><div class="entry">Title: {{title}}<br></div></span>
                        <div class="entry">Content: {{content}}<br></div>
                        <div class="entry">Link: {{link}}<br></div>
                        <div class="entry">Author: {{user}}<br></div>
                        <div class="entry">Created: {{created_at}}<br></div>
                        <div class="entry">Votes: {{votes}}<br></div>
                        <br>
                </div>

                <div class="card-action">
                    <div class="row">
                        <div class="col s1.5 m1.5 l1.5">
                        <a href="/{{id}}/delete" class="btn-floating btn-large waves-effect waves-light red" id="delete_button"> <i class="material-icons right">delete</i></a>
                        </div>

                        <div class="col s1.5 m1.5 l1.5">
                        <a href="{{id}}/edit" class="btn-floating btn-large waves-effect waves-light blue" id="edit_button"> <i class="material-icons right">mode_edit</i></a>
                        </div>

                        <div class="col s1.5 m1.5 l1.5">
                        <a href="{{id}}/comment" class="btn-floating btn-large waves-effect waves-light green" id="comment_button"> <i class="material-icons right">comment</i></a>
                        </div>

                        <div class="col s5 m5 l5">
                        <a href="#" id="spacer"> <i class="material-icons right"></i></a>
                        </div>

                        <div class="col s1 m1 l1">
                        <a href="{{{id}}}/up" class="btn-floating btn-large waves-effect waves-light indigo" id="up_button"> <i class="material-icons right">thumb_up </i></a>
                        </div>

                        <div class="col s1 m1 l1">
                        <a href="{{id}}/down" class="btn-floating btn-large waves-effect waves-light indigo" id="down_button"> <i class="material-icons right">thumb_down</i></a>
                        </div>
                        
                        <div class="col s1.5 m1.5 l1.5">
                        <a href="{{id}}/getcomments" class="btn-floating btn-large waves-effect waves-light purple" id="getcomments_button"> <i class="material-icons right">toc</i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

        {{/posts}}

        {{^posts}}
        <h4>You currently have no posts, create one above!</h4>
        {{/posts}}

    </div>

	</script>
{%endverbatim%}