{% extends "base.html" %}
{% block content %}

    <div class= "button_div" id="answer_div">

		<div class="parallax-container">
			<div class="parallax"><img src="static/news.jpg"></div>
		</div>

		<div class="section white">
			<div class="row container">
				<h2> Welcome to Hacker News!</h2>
	        	<h4>Register or Login above to get started</h4>
				<br><br>	
			</div>
		</div>

		<div class="parallax-container">
			<div class="parallax"><img src="static/news.jpg"></div>
		</div>
    </div>

{% include "register.html"%}
{% include "login.html"%}
{% include "create.html"%}
{% include "all.html"%}
{% include "edit.html"%}
{% include "comment.html"%}
{% include "all_comments.html"%}


{% endblock content %}


